@import url('https://fonts.googleapis.com/css?family=Roboto:300, 400');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand');

/* main html styles */

hr {
  width: 200px;
}

button {
  display: inline-block;
  min-width: 75px;
  width: calc(50% - 5px);
  height: 25px;
  outline: none;
  border-radius: 3px;
  border: none;
  margin: 5px 5px 0 0;
  background: ghostwhite;
  text-transform: uppercase;
  box-sizing: border-box;
  transition: 0.2s;
  pointer-events: all;
  cursor: pointer;
}

/* All other styles */

.logo-container {
  position: fixed !important;
  top: 50px;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: 1099;
  pointer-events: none;
  display: flex;
  justify-content: center;
}

.logo-section {
  height: 150px;
  width: 100px;
  background: #fff;
}
.logo-section.black {
  background: #04080F;
}

img.main-logo {
  position: absolute;
  top: -20px;
  height: 190px;
  width: auto;
}

/* Section header styles */

.section-header {
  width: 100%;
  height: 100px;
  text-align: center;
}

.section-header .logo {
  height: 100px;
  width: 100px;
}

/* Merch section styles */

.merch-container {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  /*border: 1px solid white;*/
  box-sizing: border-box;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
}

.merch-container .desc {
  flex-basis: 100%;
  /*height: 100px;*/
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  margin: 10px;
}

.merch-list {
  flex-basis: 100%;
  height: auto;
  /*border: 1px solid white;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.merch-item {
  flex-basis: 200px;
  margin: 10px;
  background: transparent;
  box-sizing: border-box;
  text-align: left;
  transition: 0.2s;
  font-size: 16px;
  border-bottom: 2px solid #EAE6E5;
}

.merch-item > .thumbnail {
  width: 100%;
  height: 200px;
  display: block;
}

.merch-item .name {
  display: inline-block;
  margin: 5px 0;
  text-transform: capitalize;
  font-weight: 400;
}

.merch-item .price {
  display: inline-block;
  margin: 5px 0;
  font-weight: 400;
  color: #BF0303;
  float: right;
}

.merch-item .actions {
  display: block;
  width: 100%;
  height: 50px;
  /*border: 1px solid black;*/
}

button.preview {
  background-color: white;
  border: 1px solid #BF0303;
  color: #BF0303;
}
button.preview:hover {
  background-color: #BF0303;
  color: white;
}

button.purchase {
  /*float: right;*/
  margin-right: 0px;
  background-color: #BF0303;
  color: white;
}
button.purchase:hover {
  background-color: white;
  color: #BF0303;
  border: 1px solid #BF0303;
}
