.logo-container {
  position: fixed !important;
  top: 50px;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: 1099;
  pointer-events: none;
  display: flex;
  justify-content: center;
}

.logo-section {
  height: 150px;
  width: 100px;
  background: #EAE6E5;
}
.logo-section.black {
  background: #04080F;
}

img.main-logo {
  position: absolute;
  top: -20px;
  height: 190px;
  width: auto;
}

/* Section header styles */

.section-header {
  width: 100%;
  height: 100px;
  text-align: left;
}
.section-header.right {
  text-align: right;
}

.section-header > .logo {
  height: 100px;
  width: 100px;
}
